## Author
**Sam Anpin Theradiyil**

# Data Science Tools and Eco Systems

**Objectives:**
- Popular Languages Used in Python
- Commonly Used Libraries
- Data Science Tools
- Arithmetic Operations

### In this notebook, Data Science Tools and Eco Systems are Summerized.

#### Some of the popular Languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JAVA

#### Some of the commonly used libraires used by the Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

| Data Science Tools|
| ----|
|PyCharm|
|Atom|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335